---
layout: default
---


<!-- <h1>Listen to Colorsplash Mixes:</h1> -->

<div class="grid grid-cols-3 gap-5">
{% for post in paginator.posts %}
  <div class="flex items-center">
  <div class="w-20 h-20 bg-gray-300 rounded-md shadow-inner mr-3" style="background-color: #{{ post.color }};">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
        <rect x="0" y="0" width="100" height="100"  />
      </svg> -->
    </div>
    <div>

      {{ post.title }}

    </div>
  </div>

{% endfor %}
</div>
<!-- {% include pagination.html %} -->