<h1 class="text-gray-800 text-base text-2xl mb-5">About Jolene</h1>

<div class="w-full rounded overflow-hidden shadow-md bg-white">
  <img class="w-full" src="/assets/images/dj-jolene-pool.jpg" alt="A picture of DJ Jolene">
  <div class="px-6 py-4">
    <p class="text-gray-900 font-light">
      {{ site.description }}
    </p>
  </div>
</div>

<ul class="py-8 font-light text-blue-600 px-6">
  <li><a href="">Mixcloud: DJ Jolene</a></li>
  <li><a href="https://geo.itunes.apple.com/us/podcast/colorsplash-mixes-dj-jolene/id960400840?mt=2">Colorsplash Mixes on Apple Podcasts</a></li>
  <li><a href="">Instagram: @djjolene</a></li>
  <li><a href="">Twitter: @djjolene</a></li>
  <li><a href="">DI.FM House Channel</a></li>
  <li><a href="">Mailing List</a></li>
  <li><a href="javascript:location='mailto:\u0068\u0065\u006c\u006c\u006f\u0040\u0064\u006a\u006a\u006f\u006c\u0065\u006e\u0065\u002e\u0063\u006f\u006d';void 0"><script type="text/javascript">document.write('\u0068\u0065\u006c\u006c\u006f\u0040\u0064\u006a\u006a\u006f\u006c\u0065\u006e\u0065\u002e\u0063\u006f\u006d')</script></a></li>
</ul>
<p class="text-sm text-gray-600 px-6 font-light">&copy; DJ Jolene</p>